*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #E3E3E3;
}

/* EStilo header (cabeçalho) + interface */

.interface{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

header {
    width: 100%;
    padding: 40px  0;
    position:absolute;
    top: 0;
    left: 0;
    
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 50px;
    position: relative;
}

header .logo img .logo_verde{
    display: none;
}

/* Fim header */

/* Estilo hero (introdução) */

@media (max-width: 768px) {
    .hero_site .txt_hero h1 {
        padding: 80px 20px;
        font-size: 2em;
    }
}

section.hero_site{
    height: 35vh;
    background-image: url(../image/ind_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff
}

.hero_site .txt_hero h1{
    display:flex;
    align-items: center;
    font-size: 4em;
    font-weight: 200;
    color: black;
    padding: 80px 400px;
    
}

.hero_site .txt_hero h1 span{
    display: flex;
    font-weight: 800;
}

.hero_site .txt_hero p span{
    display: flex;
}

/* Container e fotos com descrição */

.fotos_container_geotecnia{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-between;
    margin: 50px 0;
}

.img-item{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

.image-item img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.details_container{
    flex: 1;
    padding: 8px;
    background-color:#d8d4d0;
    border-radius: 10px;
    text-align: center;
    height: 160px;
    width: 1200px;
    margin-top: 10px;
    text-align: top;
    
}

.details_container p{
    color: black;
}
